release/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>7 желаний</title>
  </head>
  <body id="page">
    <header class="header">
      <div class="header__top d-none d-lg-block">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-2 col-xl-3 d-flex justify-content-center justify-content-lg-start">
              <div class="location text-white font-14 d-flex align-items-center"><span class="icon-check mr-2 font-24"></span><b>Челябинск</b></div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center">
              <p class="text-center text-white font-14 m-0">Внимание! В связи с COVID-19 сроки поставки увеличены на три дня!</p>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 d-flex justify-content-center justify-content-lg-end">
              <div class="d-flex align-items-center"><a class="social-item mr-3" href="#"><span class="icon-vk"></span></a><a class="social-item" href="#"><span class="icon-instagram"></span></a></div><a class="phone-block d-flex align-items-center" href="tel:+73512003540"><span class="icon-phone-call mr-2 font-24 text-white"></span>+7 351 200-35-40</a>
            </div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-6 col-lg-2"><a class="logo-block" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img"></a></div>
            <div class="col-lg-6 d-none d-lg-block">
              <nav class="navigation d-none d-lg-flex"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="#">Каталог</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Покупателям</a><a class="navigation__link" href="#">Контакты</a>
              </nav>
            </div>
            <div class="col-6 col-lg-4 d-flex align-items-center justify-content-end"><form action="#" method="" class="form-search d-none d-lg-flex">
<button class="form-search__btn" type="submit"><i class="icon-loupe"></i></button>
<input type="text" placeholder="Поиск по сайту..." class="form-search__input">
</form>
              <div class="d-flex align-items-center"><a class="log-in d-none d-lg-block" href="#"><span class="icon-user text-white font-22 d-block"></span></a>
                <div class="minicart"><!-- убрать класс minicart__link_btn если не нужно открывать меню --><a class="minicart__link minicart__link_btn" href="#"><span class="icon-shopping-cart font-22 d-block"></span></a><span class="minicart__count">12</span>					</div>
                <div class="d-flex d-lg-none ml-3" id="burger"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="minicart__dropdown">
      <div class="minicart__dropdown_content">
        <div class="d-flex justify-content-end pb-3"><span class="minicart__dropdown_close">+</span></div>
        <div>
          <ul class="minicart__list-content">
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
          </ul><div class="minicart__total"><span>Цена</span><span>4 999 ₽</span></div>
<div class="minicart-btns d-flex flex-column">
<a class="btn mb-3" href="#">Корзина</a>
<a class="btn btn_main" href="#">Оформить</a>
</div>
        </div>
      </div></div>
    </header>
    <div class="menu-modal">
      <div class="menu-modal__content"><div class="d-flex justify-content-between align-items-center mb-4"><a class="logo-block" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img"></a>
        <div class="menu-modal__close"></div></div>
        <nav class="navigation navigation_mobile d-flex flex-column align-items-start"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="#">Каталог</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Покупателям</a><a class="navigation__link" href="#">Контакты</a>
        </nav>
        <div class="menu-modal__block d-flex justify-content-center"><a class="phone-block d-flex align-items-center" href="tel:+73512003540"><span class="icon-phone-call mr-2 font-24"></span>+7 351 200-35-40</a></div>
        <div class="d-flex align-items-center justify-content-center"><a class="social-item mr-3 color-black-full" href="#"><span class="icon-vk"></span></a><a class="social-item color-black-full" href="#"><span class="icon-instagram"></span></a></div>
      </div>
    </div>
    <div class="content">
      <div class="breadcrumb-block">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <h1 class="font-34 font-lg-48 mb-2">Каталог</h1>
            </div>
            <div class="col-12 d-flex justify-content-center"><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Главная</a></li>
<li class="breadcrumb-item active" aria-current="page">Каталог</li>
</ol>
</nav>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-lg-100">
        <div class="row pb-50 pb-lg-120">
          <div class="col-12 col-lg-6"><img class="lazyload img-fluid" data-src="images/about.png" alt="img" title="img"></div>
          <div class="col-12 col-lg-6">
            <h1 class="font-36 pb-28 title-line mb-25">Добро пожаловать на наш сайт</h1>
            <p class="font-14 mb-25">С другой стороны новая модель организационной деятельности требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа новых предложений. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
            <p class="font-14">С другой стороны новая модель организационной деятельности требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа новых предложений. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
          </div>
        </div>
        <div class="row pb-100">
          <div class="col-12 col-md-5 col-lg-3">
            <div class="d-flex align-items-center"><span class="icon-free-delivery font-32 color-blue mr-3"></span>
              <div class="d-flex flex-column align-items-start">
                <h2 class="font-18 mb-13"><b>Доставка товара</b></h2>
                <p class="ont-16">Бесплатная доставка при сумме заказа более 5000 рублей</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 col-lg-3">
            <div class="d-flex align-items-center"><span class="icon-production font-32 color-blue mr-3"></span>
              <div class="d-flex flex-column align-items-start">
                <h2 class="font-18 mb-13"><b>Собственное производство</b></h2>
                <p class="ont-16">Вся продукция производится на собственном заводе</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 col-lg-3">
            <div class="d-flex align-items-center"><span class="icon-defense font-32 color-blue mr-3"></span>
              <div class="d-flex flex-column align-items-start">
                <h2 class="font-18 mb-13"><b>Гарантия на все</b></h2>
                <p class="ont-16">На все товары действует специальная гарантия</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 col-lg-3">
            <div class="d-flex align-items-center"><span class="icon-best-price font-32 color-blue mr-3"></span>
              <div class="d-flex flex-column align-items-start">
                <h2 class="font-18 mb-13"><b>Низкая цена</b></h2>
                <p class="ont-16">Гарантия низкой цены на товары представленные в каталоге</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <h2 class="font-36 pb-28 title-line title-line_center mb-0">Отзывы</h2>
          </div>
          <div class="col-12 pb-40">
            <div class="slider-feedback slider-default">
              <div class="feedback-item"><img class="feedback-item__img img-fluid" src="images/feedback.jpg" alt="img" title="img">
                <div class="feedback-item__content">
                  <p>С компанией ИНСИ работаем больше 10 лет и можем рекомендовать компанию как надежного поставщика кровельных материалов</p><span class="d-block"><b>Игорь Морозов</b></span><span class="d-block">ООО “Стройкавека”</span>
                </div>
              </div>
              <div class="feedback-item"><img class="feedback-item__img img-fluid" src="images/feedback.jpg" alt="img" title="img">
                <div class="feedback-item__content">
                  <p>С компанией ИНСИ работаем больше 10 лет и можем рекомендовать компанию как надежного поставщика кровельных материалов</p><span class="d-block"><b>Игорь Морозов</b></span><span class="d-block">ООО “Стройкавека”</span>
                </div>
              </div>
              <div class="feedback-item"><img class="feedback-item__img img-fluid" src="images/feedback.jpg" alt="img" title="img">
                <div class="feedback-item__content">
                  <p>С компанией ИНСИ работаем больше 10 лет и можем рекомендовать компанию как надежного поставщика кровельных материалов</p><span class="d-block"><b>Игорь Морозов</b></span><span class="d-block">ООО “Стройкавека”</span>
                </div>
              </div>
              <div class="feedback-item"><img class="feedback-item__img img-fluid" src="images/feedback.jpg" alt="img" title="img">
                <div class="feedback-item__content">
                  <p>С компанией ИНСИ работаем больше 10 лет и можем рекомендовать компанию как надежного поставщика кровельных материалов</p><span class="d-block"><b>Игорь Морозов</b></span><span class="d-block">ООО “Стройкавека”</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <h2 class="font-36 pb-28 title-line title-line_center mb-0">Сертификаты и лицензии</h2>
          </div>
          <div class="col-12 pb-40">
            <div class="slider-ser slider-default">
              <div class="d-flex justify-content-center"><a data-fancybox="gallery" href="images/ser.png"><img class="img-fluid" src="images/ser.png" alt="img" title="img"></a>
                <section class="pt-40 pb-80"></section>
              </div>
              <div class="d-flex justify-content-center"><a data-fancybox="gallery" href="images/ser.png"><img class="img-fluid" src="images/ser.png" alt="img" title="img"></a>
                <section class="pt-40 pb-80"></section>
              </div>
              <div class="d-flex justify-content-center"><a data-fancybox="gallery" href="images/ser.png"><img class="img-fluid" src="images/ser.png" alt="img" title="img"></a>
                <section class="pt-40 pb-80"></section>
              </div>
              <div class="d-flex justify-content-center"><a data-fancybox="gallery" href="images/ser.png"><img class="img-fluid" src="images/ser.png" alt="img" title="img"></a>
                <section class="pt-40 pb-80"></section>
              </div>
              <div class="d-flex justify-content-center"><a data-fancybox="gallery" href="images/ser.png"><img class="img-fluid" src="images/ser.png" alt="img" title="img"></a>
                <section class="pt-40 pb-80"></section>
              </div>
              <div class="d-flex justify-content-center"><a data-fancybox="gallery" href="images/ser.png"><img class="img-fluid" src="images/ser.png" alt="img" title="img"></a>
                <section class="pt-40 pb-80"></section>
              </div>
              <div class="d-flex justify-content-center"><a data-fancybox="gallery" href="images/ser.png"><img class="img-fluid" src="images/ser.png" alt="img" title="img"></a>
                <section class="pt-40 pb-80"></section>
              </div>
              <div class="d-flex justify-content-center"><a data-fancybox="gallery" href="images/ser.png"><img class="img-fluid" src="images/ser.png" alt="img" title="img"></a>
                <section class="pt-40 pb-80"></section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container pb-120">
        <div class="row">
          <div class="col-12">
            <h2 class="font-24 mb-5"><b>Большой выбор строительных материалов (для SEO)</b></h2>
            <p class="color-rare mb-4">Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. </p>
            <p class="color-rare">Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. </p>
          </div>
        </div>
      </div>
    </div><div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProductLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalProductLabel">Modal title</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center"><span class="icon-arrow-up"></span></div>
    </div>
    <footer class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3 d-flex d-lg-block align-items-center flex-column pb-3 pb-lg-0"><a class="logo-block" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img"></a>
              <p class="font-18 pt-4 px-5 px-lg-0 text-center text-lg-left">ТД ИНСИ -  все для строительства и ремонта</p>
            </div>
            <div class="col-12 col-lg-3 d-flex d-lg-block flex-column align-items-center"><span class="font-18 d-block mb-20"><b>Следите за нами:</b></span>
              <div class="d-flex align-items-center"><a class="social-item color-666 mr-3" href="#"><span class="icon-vk"></span></a><a class="social-item color-666" href="#"><span class="icon-instagram"></span></a></div>
            </div>
            <div class="col-12 col-lg-3 d-none d-lg-block"><span class="font-18 d-block mb-20"><b>Меню</b></span>
              <div class="d-flex flex-column align-items-start"><a class="navigation__link" href="#">Главная</a><a class="navigation__link" href="#">Каталог</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Контакты</a>
              </div>
            </div>
            <div class="col-12 col-lg-3 d-none d-lg-block"><span class="font-18 d-block mb-20"><b>Контакты</b></span>
              <div class="d-flex flex-column align-items-start">
                <p class="navigation__link">Челябинск,<br>ул. Строительная, д. 25А</p><a class="navigation__link" href="tel:88002002011">8 800 200 20 11</a><a class="navigation__link" href="mailto:info@gp.com.ru">info@gp.com.ru</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex d-lg-block justify-content-center"><a class="font-14" href="#">Политика конфиденциальности</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/about.pug
extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-lg-100")
		div(class="row pb-50 pb-lg-120")
			div(class="col-12 col-lg-6")
				img(class="lazyload img-fluid" data-src="images/about.png" alt='img' title="img")
			div(class="col-12 col-lg-6")
				h1(class="font-36 pb-28 title-line mb-25")
					| Добро пожаловать на наш сайт
				p(class="font-14 mb-25")
					| С другой стороны новая модель организационной деятельности требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа новых предложений. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
				p(class="font-14")
					| С другой стороны новая модель организационной деятельности требуют определения и уточнения систем массового участия. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа новых предложений. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
		div(class="row pb-100")
			div(class="col-12 col-md-5 col-lg-3")
				div(class="d-flex align-items-center")
					span(class="icon-free-delivery font-32 color-blue mr-3")
					div(class="d-flex flex-column align-items-start")
						h2(class="font-18 mb-13")
							b
								| Доставка товара
						p(class="ont-16")
							| Бесплатная доставка при сумме заказа более 5000 рублей
			div(class="col-12 col-md-5 col-lg-3")
				div(class="d-flex align-items-center")
					span(class="icon-production font-32 color-blue mr-3")
					div(class="d-flex flex-column align-items-start")
						h2(class="font-18 mb-13")
							b
								| Собственное производство
						p(class="ont-16")
							| Вся продукция производится на собственном заводе
			div(class="col-12 col-md-5 col-lg-3")
				div(class="d-flex align-items-center")
					span(class="icon-defense font-32 color-blue mr-3")
					div(class="d-flex flex-column align-items-start")
						h2(class="font-18 mb-13")
							b
								| Гарантия на все
						p(class="ont-16")
							| На все товары действует специальная гарантия
			div(class="col-12 col-md-5 col-lg-3")
				div(class="d-flex align-items-center")
					span(class="icon-best-price font-32 color-blue mr-3")
					div(class="d-flex flex-column align-items-start")
						h2(class="font-18 mb-13")
							b
								| Низкая цена
						p(class="ont-16")
							| Гарантия низкой цены на товары представленные в каталоге
		div(class="row")
			div(class="col-12 d-flex justify-content-center")
				h2(class="font-36 pb-28 title-line title-line_center mb-0")
					| Отзывы
			div(class="col-12 pb-40")
				div(class="slider-feedback slider-default")
					-for(let i = 0; i < 4; i++)
						div(class="feedback-item")
							img(class="feedback-item__img img-fluid" src="images/feedback.jpg" alt="img" title="img")
							div(class="feedback-item__content")
								p()
									| С компанией ИНСИ работаем больше 10 лет и можем рекомендовать компанию как надежного поставщика кровельных материалов
								span(class="d-block")
									b
										| Игорь Морозов
								span(class="d-block")
									| ООО “Стройкавека”
		div(class="row")
			div(class="col-12 d-flex justify-content-center")
				h2(class="font-36 pb-28 title-line title-line_center mb-0")
					| Сертификаты и лицензии
			div(class="col-12 pb-40")
				div(class="slider-ser slider-default")
					-for(let i = 0; i < 8; i++)
						div(class="d-flex justify-content-center")
							a(data-fancybox="gallery" href="images/ser.png")
								img(class="img-fluid" src="images/ser.png" alt="img" title="img")
							section(class="pt-40 pb-80")
	div(class="container pb-120")
		div(class="row")
			div(class="col-12")
				h2(class="font-24 mb-5")
					b
						| Большой выбор строительных материалов (для SEO)
				p(class="color-rare mb-4")
					| Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. 
				p(class="color-rare")
					| Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. 
