source/html/cart.pug
extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-lg-80 pb-90")
		div(class="row")
			div(class="col-12 cart-line-wrapper pt-4 pt-lg-0")
				-for(let i = 0; i < 4; i++)
					div(class="row cart-line justify-content-center")
						div(class="col-12 col-lg-1  d-flex justify-content-center align-items-center pb-3 pb-lg-0")
							a(href="#")
								img(class="lazyload img-fluid" data-src="images/product-cart.jpg" alt="img" title="img")
						div(class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start align-items-center pb-3 pb-lg-0")
							a(href="#" class="cart-line__title")
								| Наименование товара
						div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0")
							span(class="font-18")
								| 3 222 ₽ 
						div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0")
							form(class="product-quantity pro-details-quality" action="" method="")
								<div class="picker-number picker-number_type-1 picker-number_type-1_hover-1">
									<button type="button" class="picker-number__button picker-number__button_dec">-</button>
									<input class="picker-number__input" type="number" value="1" step="1" min="1" max="100">
									<button type="button" class="picker-number__button picker-number__button_inc">+</button>
								</div>
						div(class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0")
							span(class="font-18")
								| 3 222 ₽ 
						div(class="col-12 col-lg-1 d-flex justify-content-center align-items-center")
							button( class="cart-line__remove")
								span(class="icon-close")
			div(class="col-12 d-flex justify-content-end pt-3")
				div(class="font-24 d-flex align-items-center")
					span(class="mr-2")
						b
							| ИТОГО:
					span
						b
							| 15 000 руб.
	div(class="container pb-90")
		form(class="row" action="" method="")
			div(class="col-12 col-lg-4 pb-4 pb-lg-0")
				h2(class="font-24 mb-4")
					b
						| Данные получателя
				div(class="row")
					div(class="col-12 pb-4")
						input( class="form-control w-100" type="email" placeholder="E-mail*")
					div(class="col-12 pb-4")
						input(class="form-control w-100" type="text" placeholder="Поулчатель*")
					div(class="col-12 pb-4")
						input( class="form-control w-100" type="tel" placeholder="Телефон*")
					div(class="col-12")
						textarea(class="form-control" placeholder="Комментарий")
			div(class="col-12 col-lg-4 pb-4 pb-lg-0")
				h2(class="font-24 mb-4 pb-3")
					b
						| Способы оплаты
				div(class="d-flex flex-column align-items-lg-start mb-4 pb-2")
					<div class="custom-control custom-radio pb-2">
						<input type="radio" id="pay1" name="pay" class="custom-control-input" >
						<label class="custom-control-label" for="pay1">Оплата наличными</label>
					</div>
					<div class="custom-control custom-radio pb-2">
						<input type="radio" id="pay2" name="pay" class="custom-control-input" >
						<label class="custom-control-label" for="pay2">Оплата онлайн</label>
					</div>
					<div class="custom-control custom-radio">
						<input type="radio" id="pay3" name="pay" class="custom-control-input" >
						<label class="custom-control-label" for="pay3">Выписать счет</label>
					</div>
				h2(class="font-24 mb-4 pb-3")
					b
						| Варианты доставка
				div(class="d-flex flex-column align-items-lg-start")
					<div class="custom-control custom-radio pb-2">
						<input type="radio" id="delivery2" name="delivery" class="custom-control-input" >
						<label class="custom-control-label" for="delivery1">Доставка</label>
					</div>
					<div class="custom-control custom-radio pb-2">
						<input type="radio" id="delivery2" name="delivery" class="custom-control-input" >
						<label class="custom-control-label" for="delivery2">Самовывоз</label>
					</div>
			div(class="col-12 col-lg-4")
				h2(class="font-24 mb-4")
					b
						| Адрес доставки
				div(class="row")
					div(class="col-12 pb-4")
						input( class="form-control w-100" type="email" placeholder="Индекс")
					div(class="col-12 pb-4")
						input(class="form-control w-100" type="text" placeholder="Город")
					div(class="col-12 pb-4")
						input( class="form-control w-100" type="tel" placeholder="Адрес")
					div(class="col-12")
						textarea(class="form-control" placeholder="Комментарий")
			div(class='col-12 d-flex justify-content-lg-end pt-80')
				<div class="grand-totall d-flex flex-column">
					div(class="price d-flex justify-content-center mb-4")
						span(class="font-24 mr-2")
							b
								| ИТОГО:
						span(class="font-24")
							b
								| 5 555 ₽
					div(class="d-flex justify-content-center")
						<button class=" btn btn_bigcart">
							<span class="btn__text">Оформить заказ</span>
						</button>

release/cart.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>7 желаний</title>
  </head>
  <body id="page">
    <header class="header">
      <div class="header__top d-none d-lg-block">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-2 col-xl-3 d-flex justify-content-center justify-content-lg-start">
              <div class="location text-white font-14 d-flex align-items-center"><span class="icon-check mr-2 font-24"></span><b>Челябинск</b></div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center">
              <p class="text-center text-white font-14 m-0">Внимание! В связи с COVID-19 сроки поставки увеличены на три дня!</p>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 d-flex justify-content-center justify-content-lg-end">
              <div class="d-flex align-items-center"><a class="social-item mr-3" href="#"><span class="icon-vk"></span></a><a class="social-item" href="#"><span class="icon-instagram"></span></a></div><a class="phone-block d-flex align-items-center" href="tel:+73512003540"><span class="icon-phone-call mr-2 font-24 text-white"></span>+7 351 200-35-40</a>
            </div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-6 col-lg-2"><a class="logo-block" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img"></a></div>
            <div class="col-lg-6 d-none d-lg-block">
              <nav class="navigation d-none d-lg-flex"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="#">Каталог</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Покупателям</a><a class="navigation__link" href="#">Контакты</a>
              </nav>
            </div>
            <div class="col-6 col-lg-4 d-flex align-items-center justify-content-end"><form action="#" method="" class="form-search d-none d-lg-flex">
<button class="form-search__btn" type="submit"><i class="icon-loupe"></i></button>
<input type="text" placeholder="Поиск по сайту..." class="form-search__input">
</form>
              <div class="d-flex align-items-center"><a class="log-in d-none d-lg-block" href="#"><span class="icon-user text-white font-22 d-block"></span></a>
                <div class="minicart"><!-- убрать класс minicart__link_btn если не нужно открывать меню --><a class="minicart__link minicart__link_btn" href="#"><span class="icon-shopping-cart font-22 d-block"></span></a><span class="minicart__count">12</span>					</div>
                <div class="d-flex d-lg-none ml-3" id="burger"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="minicart__dropdown">
      <div class="minicart__dropdown_content">
        <div class="d-flex justify-content-end pb-3"><span class="minicart__dropdown_close">+</span></div>
        <div>
          <ul class="minicart__list-content">
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
          </ul><div class="minicart__total"><span>Цена</span><span>4 999 ₽</span></div>
<div class="minicart-btns d-flex flex-column">
<a class="btn mb-3" href="#">Корзина</a>
<a class="btn btn_main" href="#">Оформить</a>
</div>
        </div>
      </div></div>
    </header>
    <div class="menu-modal">
      <div class="menu-modal__content"><div class="d-flex justify-content-between align-items-center mb-4"><a class="logo-block" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img"></a>
        <div class="menu-modal__close"></div></div>
        <nav class="navigation navigation_mobile d-flex flex-column align-items-start"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="#">Каталог</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Покупателям</a><a class="navigation__link" href="#">Контакты</a>
        </nav>
        <div class="menu-modal__block d-flex justify-content-center"><a class="phone-block d-flex align-items-center" href="tel:+73512003540"><span class="icon-phone-call mr-2 font-24"></span>+7 351 200-35-40</a></div>
        <div class="d-flex align-items-center justify-content-center"><a class="social-item mr-3 color-black-full" href="#"><span class="icon-vk"></span></a><a class="social-item color-black-full" href="#"><span class="icon-instagram"></span></a></div>
      </div>
    </div>
    <div class="content">
      <div class="breadcrumb-block">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <h1 class="font-34 font-lg-48 mb-2">Каталог</h1>
            </div>
            <div class="col-12 d-flex justify-content-center"><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Главная</a></li>
<li class="breadcrumb-item active" aria-current="page">Каталог</li>
</ol>
</nav>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-lg-80 pb-90">
        <div class="row">
          <div class="col-12 cart-line-wrapper pt-4 pt-lg-0">
            <div class="row cart-line justify-content-center">
              <div class="col-12 col-lg-1  d-flex justify-content-center align-items-center pb-3 pb-lg-0"><a href="#"><img class="lazyload img-fluid" data-src="images/product-cart.jpg" alt="img" title="img"></a></div>
              <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start align-items-center pb-3 pb-lg-0"><a class="cart-line__title" href="#">Наименование товара</a></div>
              <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><span class="font-18">3 222 ₽ </span></div>
              <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0">
                <form class="product-quantity pro-details-quality" action="" method=""><div class="picker-number picker-number_type-1 picker-number_type-1_hover-1">
<button type="button" class="picker-number__button picker-number__button_dec">-</button>
<input class="picker-number__input" type="number" value="1" step="1" min="1" max="100">
<button type="button" class="picker-number__button picker-number__button_inc">+</button>
</div>
                </form>
              </div>
              <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><span class="font-18">3 222 ₽ </span></div>
              <div class="col-12 col-lg-1 d-flex justify-content-center align-items-center">
                <button class="cart-line__remove"><span class="icon-close"></span></button>
              </div>
            </div>
            <div class="row cart-line justify-content-center">
              <div class="col-12 col-lg-1  d-flex justify-content-center align-items-center pb-3 pb-lg-0"><a href="#"><img class="lazyload img-fluid" data-src="images/product-cart.jpg" alt="img" title="img"></a></div>
              <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start align-items-center pb-3 pb-lg-0"><a class="cart-line__title" href="#">Наименование товара</a></div>
              <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><span class="font-18">3 222 ₽ </span></div>
              <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0">
                <form class="product-quantity pro-details-quality" action="" method=""><div class="picker-number picker-number_type-1 picker-number_type-1_hover-1">
<button type="button" class="picker-number__button picker-number__button_dec">-</button>
<input class="picker-number__input" type="number" value="1" step="1" min="1" max="100">
<button type="button" class="picker-number__button picker-number__button_inc">+</button>
</div>
                </form>
              </div>
              <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><span class="font-18">3 222 ₽ </span></div>
              <div class="col-12 col-lg-1 d-flex justify-content-center align-items-center">
                <button class="cart-line__remove"><span class="icon-close"></span></button>
              </div>
            </div>
            <div class="row cart-line justify-content-center">
              <div class="col-12 col-lg-1  d-flex justify-content-center align-items-center pb-3 pb-lg-0"><a href="#"><img class="lazyload img-fluid" data-src="images/product-cart.jpg" alt="img" title="img"></a></div>
              <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start align-items-center pb-3 pb-lg-0"><a class="cart-line__title" href="#">Наименование товара</a></div>
              <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><span class="font-18">3 222 ₽ </span></div>
              <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0">
                <form class="product-quantity pro-details-quality" action="" method=""><div class="picker-number picker-number_type-1 picker-number_type-1_hover-1">
<button type="button" class="picker-number__button picker-number__button_dec">-</button>
<input class="picker-number__input" type="number" value="1" step="1" min="1" max="100">
<button type="button" class="picker-number__button picker-number__button_inc">+</button>
</div>
                </form>
              </div>
              <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><span class="font-18">3 222 ₽ </span></div>
              <div class="col-12 col-lg-1 d-flex justify-content-center align-items-center">
                <button class="cart-line__remove"><span class="icon-close"></span></button>
              </div>
            </div>
            <div class="row cart-line justify-content-center">
              <div class="col-12 col-lg-1  d-flex justify-content-center align-items-center pb-3 pb-lg-0"><a href="#"><img class="lazyload img-fluid" data-src="images/product-cart.jpg" alt="img" title="img"></a></div>
              <div class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start align-items-center pb-3 pb-lg-0"><a class="cart-line__title" href="#">Наименование товара</a></div>
              <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><span class="font-18">3 222 ₽ </span></div>
              <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0">
                <form class="product-quantity pro-details-quality" action="" method=""><div class="picker-number picker-number_type-1 picker-number_type-1_hover-1">
<button type="button" class="picker-number__button picker-number__button_dec">-</button>
<input class="picker-number__input" type="number" value="1" step="1" min="1" max="100">
<button type="button" class="picker-number__button picker-number__button_inc">+</button>
</div>
                </form>
              </div>
              <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center pb-3 pb-lg-0"><span class="font-18">3 222 ₽ </span></div>
              <div class="col-12 col-lg-1 d-flex justify-content-center align-items-center">
                <button class="cart-line__remove"><span class="icon-close"></span></button>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-end pt-3">
            <div class="font-24 d-flex align-items-center"><span class="mr-2"><b>ИТОГО:</b></span><span><b>15 000 руб.</b></span></div>
          </div>
        </div>
      </div>
      <div class="container pb-90">
        <form class="row" action="" method="">
          <div class="col-12 col-lg-4 pb-4 pb-lg-0">
            <h2 class="font-24 mb-4"><b>Данные получателя</b></h2>
            <div class="row">
              <div class="col-12 pb-4">
                <input class="form-control w-100" type="email" placeholder="E-mail*">
              </div>
              <div class="col-12 pb-4">
                <input class="form-control w-100" type="text" placeholder="Поулчатель*">
              </div>
              <div class="col-12 pb-4">
                <input class="form-control w-100" type="tel" placeholder="Телефон*">
              </div>
              <div class="col-12">
                <textarea class="form-control" placeholder="Комментарий"></textarea>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 pb-4 pb-lg-0">
            <h2 class="font-24 mb-4 pb-3"><b>Способы оплаты</b></h2>
            <div class="d-flex flex-column align-items-lg-start mb-4 pb-2"><div class="custom-control custom-radio pb-2">
<input type="radio" id="pay1" name="pay" class="custom-control-input" >
<label class="custom-control-label" for="pay1">Оплата наличными</label>
</div>
<div class="custom-control custom-radio pb-2">
<input type="radio" id="pay2" name="pay" class="custom-control-input" >
<label class="custom-control-label" for="pay2">Оплата онлайн</label>
</div>
<div class="custom-control custom-radio">
<input type="radio" id="pay3" name="pay" class="custom-control-input" >
<label class="custom-control-label" for="pay3">Выписать счет</label>
</div>
            </div>
            <h2 class="font-24 mb-4 pb-3"><b>Варианты доставка</b></h2>
            <div class="d-flex flex-column align-items-lg-start"><div class="custom-control custom-radio pb-2">
<input type="radio" id="delivery2" name="delivery" class="custom-control-input" >
<label class="custom-control-label" for="delivery1">Доставка</label>
</div>
<div class="custom-control custom-radio pb-2">
<input type="radio" id="delivery2" name="delivery" class="custom-control-input" >
<label class="custom-control-label" for="delivery2">Самовывоз</label>
</div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <h2 class="font-24 mb-4"><b>Адрес доставки</b></h2>
            <div class="row">
              <div class="col-12 pb-4">
                <input class="form-control w-100" type="email" placeholder="Индекс">
              </div>
              <div class="col-12 pb-4">
                <input class="form-control w-100" type="text" placeholder="Город">
              </div>
              <div class="col-12 pb-4">
                <input class="form-control w-100" type="tel" placeholder="Адрес">
              </div>
              <div class="col-12">
                <textarea class="form-control" placeholder="Комментарий"></textarea>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-lg-end pt-80"><div class="grand-totall d-flex flex-column">
            <div class="price d-flex justify-content-center mb-4"><span class="font-24 mr-2"><b>ИТОГО:</b></span><span class="font-24"><b>5 555 ₽</b></span></div>
            <div class="d-flex justify-content-center"><button class=" btn btn_bigcart">
<span class="btn__text">Оформить заказ</span>
</button>
            </div>
          </div>
        </form>
      </div>
    </div><div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProductLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalProductLabel">Modal title</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center"><span class="icon-arrow-up"></span></div>
    </div>
    <footer class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3 d-flex d-lg-block align-items-center flex-column pb-3 pb-lg-0"><a class="logo-block" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img"></a>
              <p class="font-18 pt-4 px-5 px-lg-0 text-center text-lg-left">ТД ИНСИ -  все для строительства и ремонта</p>
            </div>
            <div class="col-12 col-lg-3 d-flex d-lg-block flex-column align-items-center"><span class="font-18 d-block mb-20"><b>Следите за нами:</b></span>
              <div class="d-flex align-items-center"><a class="social-item color-666 mr-3" href="#"><span class="icon-vk"></span></a><a class="social-item color-666" href="#"><span class="icon-instagram"></span></a></div>
            </div>
            <div class="col-12 col-lg-3 d-none d-lg-block"><span class="font-18 d-block mb-20"><b>Меню</b></span>
              <div class="d-flex flex-column align-items-start"><a class="navigation__link" href="#">Главная</a><a class="navigation__link" href="#">Каталог</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Контакты</a>
              </div>
            </div>
            <div class="col-12 col-lg-3 d-none d-lg-block"><span class="font-18 d-block mb-20"><b>Контакты</b></span>
              <div class="d-flex flex-column align-items-start">
                <p class="navigation__link">Челябинск,<br>ул. Строительная, д. 25А</p><a class="navigation__link" href="tel:88002002011">8 800 200 20 11</a><a class="navigation__link" href="mailto:info@gp.com.ru">info@gp.com.ru</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex d-lg-block justify-content-center"><a class="font-14" href="#">Политика конфиденциальности</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>
