source/html/category.pug
extends base.pug
block content
	include components/breadcrumbs.pug
	section(class="pt-80 pb-40 pb-lg-100")
		div(class="container")
			div(class="row")
				- let titleArr = ["Стеновые материалы", "Фасадные системы / Фасад", "Кровельные системы / Кровля", "Импрегнированная древесина", "Заборы и ограждения","Водосток", "Теплоизоляция", "Фасадные панели", "Метизы"]
				- let imgArr = ["images/catalog-1.jpg", "images/catalog-2.jpg", "images/catalog-3.jpg", "images/catalog-4.jpg", "images/catalog-5.jpg", "images/catalog-6.jpg", "images/catalog-7.jpg", "images/catalog-8.jpg", "images/catalog-9.jpg"]
				- for(let i = 0; i < 9; i++)
					div(class="col-12 col-md-6 col-lg-4 mb-4")
						a(class="catalog-item" href="#")
							img(class="lazyload img-fluid d-block" data-src=imgArr[i] alt="img" title="img")
							span(class="title")
								= titleArr[i]
	section(class="pt-40 pb-80")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="font-24 mb-5")
						b
							| Большой выбор строительных материалов (для SEO)
					p(class="color-rare mb-4")
						| Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. 
					p(class="color-rare")
						| Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. 

release/category.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>7 желаний</title>
  </head>
  <body id="page">
    <header class="header">
      <div class="header__top d-none d-lg-block">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-2 col-xl-3 d-flex justify-content-center justify-content-lg-start">
              <div class="location text-white font-14 d-flex align-items-center"><span class="icon-check mr-2 font-24"></span><b>Челябинск</b></div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center">
              <p class="text-center text-white font-14 m-0">Внимание! В связи с COVID-19 сроки поставки увеличены на три дня!</p>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 d-flex justify-content-center justify-content-lg-end">
              <div class="d-flex align-items-center"><a class="social-item mr-3" href="#"><span class="icon-vk"></span></a><a class="social-item" href="#"><span class="icon-instagram"></span></a></div><a class="phone-block d-flex align-items-center" href="tel:+73512003540"><span class="icon-phone-call mr-2 font-24 text-white"></span>+7 351 200-35-40</a>
            </div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-6 col-lg-2"><a class="logo-block" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img"></a></div>
            <div class="col-lg-6 d-none d-lg-block">
              <nav class="navigation d-none d-lg-flex"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="#">Каталог</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Покупателям</a><a class="navigation__link" href="#">Контакты</a>
              </nav>
            </div>
            <div class="col-6 col-lg-4 d-flex align-items-center justify-content-end"><form action="#" method="" class="form-search d-none d-lg-flex">
<button class="form-search__btn" type="submit"><i class="icon-loupe"></i></button>
<input type="text" placeholder="Поиск по сайту..." class="form-search__input">
</form>
              <div class="d-flex align-items-center"><a class="log-in d-none d-lg-block" href="#"><span class="icon-user text-white font-22 d-block"></span></a>
                <div class="minicart"><!-- убрать класс minicart__link_btn если не нужно открывать меню --><a class="minicart__link minicart__link_btn" href="#"><span class="icon-shopping-cart font-22 d-block"></span></a><span class="minicart__count">12</span>					</div>
                <div class="d-flex d-lg-none ml-3" id="burger"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="minicart__dropdown">
      <div class="minicart__dropdown_content">
        <div class="d-flex justify-content-end pb-3"><span class="minicart__dropdown_close">+</span></div>
        <div>
          <ul class="minicart__list-content">
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
          </ul><div class="minicart__total"><span>Цена</span><span>4 999 ₽</span></div>
<div class="minicart-btns d-flex flex-column">
<a class="btn mb-3" href="#">Корзина</a>
<a class="btn btn_main" href="#">Оформить</a>
</div>
        </div>
      </div></div>
    </header>
    <div class="menu-modal">
      <div class="menu-modal__content"><div class="d-flex justify-content-between align-items-center mb-4"><a class="logo-block" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img"></a>
        <div class="menu-modal__close"></div></div>
        <nav class="navigation navigation_mobile d-flex flex-column align-items-start"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="#">Каталог</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Покупателям</a><a class="navigation__link" href="#">Контакты</a>
        </nav>
        <div class="menu-modal__block d-flex justify-content-center"><a class="phone-block d-flex align-items-center" href="tel:+73512003540"><span class="icon-phone-call mr-2 font-24"></span>+7 351 200-35-40</a></div>
        <div class="d-flex align-items-center justify-content-center"><a class="social-item mr-3 color-black-full" href="#"><span class="icon-vk"></span></a><a class="social-item color-black-full" href="#"><span class="icon-instagram"></span></a></div>
      </div>
    </div>
    <div class="content">
      <div class="breadcrumb-block">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <h1 class="font-34 font-lg-48 mb-2">Каталог</h1>
            </div>
            <div class="col-12 d-flex justify-content-center"><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Главная</a></li>
<li class="breadcrumb-item active" aria-current="page">Каталог</li>
</ol>
</nav>
            </div>
          </div>
        </div>
      </div>
      <section class="pt-80 pb-40 pb-lg-100">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4"><a class="catalog-item" href="#"><img class="lazyload img-fluid d-block" data-src="images/catalog-1.jpg" alt="img" title="img"><span class="title">Стеновые материалы</span></a></div>
            <div class="col-12 col-md-6 col-lg-4 mb-4"><a class="catalog-item" href="#"><img class="lazyload img-fluid d-block" data-src="images/catalog-2.jpg" alt="img" title="img"><span class="title">Фасадные системы / Фасад</span></a></div>
            <div class="col-12 col-md-6 col-lg-4 mb-4"><a class="catalog-item" href="#"><img class="lazyload img-fluid d-block" data-src="images/catalog-3.jpg" alt="img" title="img"><span class="title">Кровельные системы / Кровля</span></a></div>
            <div class="col-12 col-md-6 col-lg-4 mb-4"><a class="catalog-item" href="#"><img class="lazyload img-fluid d-block" data-src="images/catalog-4.jpg" alt="img" title="img"><span class="title">Импрегнированная древесина</span></a></div>
            <div class="col-12 col-md-6 col-lg-4 mb-4"><a class="catalog-item" href="#"><img class="lazyload img-fluid d-block" data-src="images/catalog-5.jpg" alt="img" title="img"><span class="title">Заборы и ограждения</span></a></div>
            <div class="col-12 col-md-6 col-lg-4 mb-4"><a class="catalog-item" href="#"><img class="lazyload img-fluid d-block" data-src="images/catalog-6.jpg" alt="img" title="img"><span class="title">Водосток</span></a></div>
            <div class="col-12 col-md-6 col-lg-4 mb-4"><a class="catalog-item" href="#"><img class="lazyload img-fluid d-block" data-src="images/catalog-7.jpg" alt="img" title="img"><span class="title">Теплоизоляция</span></a></div>
            <div class="col-12 col-md-6 col-lg-4 mb-4"><a class="catalog-item" href="#"><img class="lazyload img-fluid d-block" data-src="images/catalog-8.jpg" alt="img" title="img"><span class="title">Фасадные панели</span></a></div>
            <div class="col-12 col-md-6 col-lg-4 mb-4"><a class="catalog-item" href="#"><img class="lazyload img-fluid d-block" data-src="images/catalog-9.jpg" alt="img" title="img"><span class="title">Метизы</span></a></div>
          </div>
        </div>
      </section>
      <section class="pt-40 pb-80">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="font-24 mb-5"><b>Большой выбор строительных материалов (для SEO)</b></h2>
              <p class="color-rare mb-4">Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. </p>
              <p class="color-rare">Торговый дом Инси – активно развивающаяся компания в сфере строительства. Мы производим и поставляем материалы для строительства домов, зданий и сооружений различного назначения: металлические фасадные и кровельные материалы, металлоконструкции из сертифицированного и качественного сырья. Мы успешно работаем как с частными лицами, так с представителями крупного бизнеса. </p>
            </div>
          </div>
        </div>
      </section>
    </div><div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProductLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalProductLabel">Modal title</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center"><span class="icon-arrow-up"></span></div>
    </div>
    <footer class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3 d-flex d-lg-block align-items-center flex-column pb-3 pb-lg-0"><a class="logo-block" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img"></a>
              <p class="font-18 pt-4 px-5 px-lg-0 text-center text-lg-left">ТД ИНСИ -  все для строительства и ремонта</p>
            </div>
            <div class="col-12 col-lg-3 d-flex d-lg-block flex-column align-items-center"><span class="font-18 d-block mb-20"><b>Следите за нами:</b></span>
              <div class="d-flex align-items-center"><a class="social-item color-666 mr-3" href="#"><span class="icon-vk"></span></a><a class="social-item color-666" href="#"><span class="icon-instagram"></span></a></div>
            </div>
            <div class="col-12 col-lg-3 d-none d-lg-block"><span class="font-18 d-block mb-20"><b>Меню</b></span>
              <div class="d-flex flex-column align-items-start"><a class="navigation__link" href="#">Главная</a><a class="navigation__link" href="#">Каталог</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Контакты</a>
              </div>
            </div>
            <div class="col-12 col-lg-3 d-none d-lg-block"><span class="font-18 d-block mb-20"><b>Контакты</b></span>
              <div class="d-flex flex-column align-items-start">
                <p class="navigation__link">Челябинск,<br>ул. Строительная, д. 25А</p><a class="navigation__link" href="tel:88002002011">8 800 200 20 11</a><a class="navigation__link" href="mailto:info@gp.com.ru">info@gp.com.ru</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex d-lg-block justify-content-center"><a class="font-14" href="#">Политика конфиденциальности</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>
