source/html/product.pug
extends base.pug
block content
	include components/breadcrumbs.pug
	div(class="container pt-70")
		div(class="row align-items-start pb-50 pb-lg-150")
			div(class="col-12 col-lg-6")
				div(class="product-details-images px-5")
					-for(let i = 0; i < 6; i++)
						<a data-fancybox="gallery" href="images/product-catalog.jpg">
							<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
						</a>
				div(class="product-details-thumbs slider-default")
					-for(let i = 0; i < 6; i++)
						<div class="px-3">
							<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
						</div>
			div(class="col-12 col-lg-6")
				form(class="product product-big")
					h1(class="title")
						| Духи Chanel Chance
					div(class="price d-flex align-items-center")
						span(class="now order")
							| 1 999 ₽
						span(class="old")
							| 2 999 ₽
					div(class="options")
						table()
							tr()
								td()
									| Тип кровли:
								td()
									| Гибкая черепица
							tr()
								td()
									| В упаковке:
								td()
									| 12 листов
							tr()
								td()
									| Размер:
								td()
									| 120x120
					div(class="description-wrapper")
						p()
							| Краткое описание к товару, чтобы подчеркнуть его какие либо достоинства и качества. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации.
					button(class="submit" class="btn btn_to-cart")
						span(class="icon-shopping-cart mr-2 btn__icon-to-cart")
						span(class="btn__text")
							| в корзину
		div(class="row pb-50 pb-lg-120")
			div(class="col-12")
				<ul class="nav nav-pills d-flex justify-content-center" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true">Описание</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-det-tab" data-toggle="pill" href="#pills-det" role="tab" aria-controls="pills-det" aria-selected="false">Характеристики</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-ser-tab" data-toggle="pill" href="#pills-ser" role="tab" aria-controls="pills-ser" aria-selected="false">Видео</a>
					</li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
						p
							| Новая коллекция гибкой битумной черепицы Docke PIE, названная в честь важнейшего экономического, промышленного и культурного центра острава Хоккайдо, Япония - города Саппоро, является примером синергии высококачественного производства и многовековых традиций домостроения.
						p
							| Данную коллекцию отличает не только уникальный вид нарезки и новые цвета, но и ее размеры. Крупные лепестки (до 420 мм!) будут особенно хорошо смотреться на больших домах и многометровых скатах. Теперь рисунок не будет сливаться в однотонный оттенок, и подчеркнет дизайн дома.
						p
							| Два варианта гонта с разной геометрией нарезки обеспечат хаотичный рисунок на крыше, свойственный натуральным кровельным материалам - дранке и сланцу, а также обеспечат надежную защиту вашему дому на протяжении многих десятилетий, ведь при монтаже черепицы SAPPORO достигается коэффициент перехлеста в 2,8! Это значит, что в каждой точке вашей кровли будут находится как минимум два лепестка черепицы.
					</div>
					<div class="tab-pane fade" id="pills-det" role="tabpanel" aria-labelledby="pills-det-tab">...</div>
					<div class="tab-pane fade" id="pills-ser" role="tabpanel" aria-labelledby="pills-ser-tab">...</div>
				</div>
		div(class="row")
			div(class="col-12")
				h2(class="font-24 mb-50 mb-lg-70")
					b
						| Смотрите также
			div(class="col-12 pb-50 pb-lg-120")
				div(class="slider-view slider-default")
					-for(let i = 0; i < 5; i++)
						div(class="px-3")
							form(class="product product-catalog" action="" method="")
								div(class="preview-wrapper")
									a(class="preview" href="#")
										img(class="img-fluid d-block lazyload" data-src="images/product-catalog.jpg" alt="img" title="img")
								div(class="product-catalog__content")
									div(class="w-100")
										a(class="title" href="#")
											| Гибкая черепица Docke Женева ывпа вавыа пвыапвыап выапвыапывап выапвыапвыа пвап выап выап выпа
									span(class="price pb-2 mb-1")
										span(class="now")
											| 339 р./м2
										span(class="old")
											| 1 850 руб./м2
									p(class="description")
										| Новая коллекция гибкой битумной черепицы Docke PIE, названная в честь важнейшего экономического, промышленного и культурного центра острава Хоккайдо, Япония - города Саппоро, является примером синергии высококачественного производства и многовековых традиций домостроения.
									div()
										button(class="submit" class="btn btn_to-cart")
											span(class="icon-shopping-cart mr-2 btn__icon-to-cart")
											span(class="btn__text")
												| в корзину
						
  

release/product.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>7 желаний</title>
  </head>
  <body id="page">
    <header class="header">
      <div class="header__top d-none d-lg-block">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-2 col-xl-3 d-flex justify-content-center justify-content-lg-start">
              <div class="location text-white font-14 d-flex align-items-center"><span class="icon-check mr-2 font-24"></span><b>Челябинск</b></div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center">
              <p class="text-center text-white font-14 m-0">Внимание! В связи с COVID-19 сроки поставки увеличены на три дня!</p>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 d-flex justify-content-center justify-content-lg-end">
              <div class="d-flex align-items-center"><a class="social-item mr-3" href="#"><span class="icon-vk"></span></a><a class="social-item" href="#"><span class="icon-instagram"></span></a></div><a class="phone-block d-flex align-items-center" href="tel:+73512003540"><span class="icon-phone-call mr-2 font-24 text-white"></span>+7 351 200-35-40</a>
            </div>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-6 col-lg-2"><a class="logo-block" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img"></a></div>
            <div class="col-lg-6 d-none d-lg-block">
              <nav class="navigation d-none d-lg-flex"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="#">Каталог</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Покупателям</a><a class="navigation__link" href="#">Контакты</a>
              </nav>
            </div>
            <div class="col-6 col-lg-4 d-flex align-items-center justify-content-end"><form action="#" method="" class="form-search d-none d-lg-flex">
<button class="form-search__btn" type="submit"><i class="icon-loupe"></i></button>
<input type="text" placeholder="Поиск по сайту..." class="form-search__input">
</form>
              <div class="d-flex align-items-center"><a class="log-in d-none d-lg-block" href="#"><span class="icon-user text-white font-22 d-block"></span></a>
                <div class="minicart"><!-- убрать класс minicart__link_btn если не нужно открывать меню --><a class="minicart__link minicart__link_btn" href="#"><span class="icon-shopping-cart font-22 d-block"></span></a><span class="minicart__count">12</span>					</div>
                <div class="d-flex d-lg-none ml-3" id="burger"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="minicart__dropdown">
      <div class="minicart__dropdown_content">
        <div class="d-flex justify-content-end pb-3"><span class="minicart__dropdown_close">+</span></div>
        <div>
          <ul class="minicart__list-content">
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
            <li class="minicart__product"><div class="minicart__preview">
<a href="#">
<img class="lazyload" data-src="https://via.placeholder.com/70x90" alt="img" title="img">
</a>
</div>
<div class="minicart__title">
<a href="#">MVTH Leather watch - BouleVard Edit</a>
<span> 1 × <span class="price">4 999 ₽</span></span>
</div>
              <form class="minicart__delete" action="" method=""><a href="#"><span class="icon-bin"></span></a></form>
            </li>
          </ul><div class="minicart__total"><span>Цена</span><span>4 999 ₽</span></div>
<div class="minicart-btns d-flex flex-column">
<a class="btn mb-3" href="#">Корзина</a>
<a class="btn btn_main" href="#">Оформить</a>
</div>
        </div>
      </div></div>
    </header>
    <div class="menu-modal">
      <div class="menu-modal__content"><div class="d-flex justify-content-between align-items-center mb-4"><a class="logo-block" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img"></a>
        <div class="menu-modal__close"></div></div>
        <nav class="navigation navigation_mobile d-flex flex-column align-items-start"><a class="navigation__link" href="#">Главная</a><a class="navigation__link navigation__link_active" href="#">Каталог</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Покупателям</a><a class="navigation__link" href="#">Контакты</a>
        </nav>
        <div class="menu-modal__block d-flex justify-content-center"><a class="phone-block d-flex align-items-center" href="tel:+73512003540"><span class="icon-phone-call mr-2 font-24"></span>+7 351 200-35-40</a></div>
        <div class="d-flex align-items-center justify-content-center"><a class="social-item mr-3 color-black-full" href="#"><span class="icon-vk"></span></a><a class="social-item color-black-full" href="#"><span class="icon-instagram"></span></a></div>
      </div>
    </div>
    <div class="content">
      <div class="breadcrumb-block">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <h1 class="font-34 font-lg-48 mb-2">Каталог</h1>
            </div>
            <div class="col-12 d-flex justify-content-center"><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Главная</a></li>
<li class="breadcrumb-item active" aria-current="page">Каталог</li>
</ol>
</nav>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt-70">
        <div class="row align-items-start pb-50 pb-lg-150">
          <div class="col-12 col-lg-6">
            <div class="product-details-images px-5"><a data-fancybox="gallery" href="images/product-catalog.jpg">
<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
</a><a data-fancybox="gallery" href="images/product-catalog.jpg">
<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
</a><a data-fancybox="gallery" href="images/product-catalog.jpg">
<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
</a><a data-fancybox="gallery" href="images/product-catalog.jpg">
<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
</a><a data-fancybox="gallery" href="images/product-catalog.jpg">
<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
</a><a data-fancybox="gallery" href="images/product-catalog.jpg">
<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
</a>
            </div>
            <div class="product-details-thumbs slider-default"><div class="px-3">
<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
</div><div class="px-3">
<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
</div><div class="px-3">
<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
</div><div class="px-3">
<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
</div><div class="px-3">
<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
</div><div class="px-3">
<img class="w-100" src="images/product-catalog.jpg" alt="img" title="img">
</div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <form class="product product-big">
              <h1 class="title">Духи Chanel Chance</h1>
              <div class="price d-flex align-items-center"><span class="now order">1 999 ₽</span><span class="old">2 999 ₽</span></div>
              <div class="options">
                <table>
                  <tr>
                    <td>Тип кровли:</td>
                    <td>Гибкая черепица</td>
                  </tr>
                  <tr>
                    <td>В упаковке:</td>
                    <td>12 листов</td>
                  </tr>
                  <tr>
                    <td>Размер:</td>
                    <td>120x120</td>
                  </tr>
                </table>
              </div>
              <div class="description-wrapper">
                <p>Краткое описание к товару, чтобы подчеркнуть его какие либо достоинства и качества. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение направлений прогрессивного развития. Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации.</p>
              </div>
              <button class="submit btn btn_to-cart"><span class="icon-shopping-cart mr-2 btn__icon-to-cart"></span><span class="btn__text">в корзину</span></button>
            </form>
          </div>
        </div>
        <div class="row pb-50 pb-lg-120">
          <div class="col-12"><ul class="nav nav-pills d-flex justify-content-center" id="pills-tab" role="tablist">
<li class="nav-item">
<a class="nav-link active" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true">Описание</a>
</li>
<li class="nav-item">
<a class="nav-link" id="pills-det-tab" data-toggle="pill" href="#pills-det" role="tab" aria-controls="pills-det" aria-selected="false">Характеристики</a>
</li>
<li class="nav-item">
<a class="nav-link" id="pills-ser-tab" data-toggle="pill" href="#pills-ser" role="tab" aria-controls="pills-ser" aria-selected="false">Видео</a>
</li>
</ul>
<div class="tab-content" id="pills-tabContent">
<div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
            <p>Новая коллекция гибкой битумной черепицы Docke PIE, названная в честь важнейшего экономического, промышленного и культурного центра острава Хоккайдо, Япония - города Саппоро, является примером синергии высококачественного производства и многовековых традиций домостроения.</p>
            <p>Данную коллекцию отличает не только уникальный вид нарезки и новые цвета, но и ее размеры. Крупные лепестки (до 420 мм!) будут особенно хорошо смотреться на больших домах и многометровых скатах. Теперь рисунок не будет сливаться в однотонный оттенок, и подчеркнет дизайн дома.</p>
            <p>Два варианта гонта с разной геометрией нарезки обеспечат хаотичный рисунок на крыше, свойственный натуральным кровельным материалам - дранке и сланцу, а также обеспечат надежную защиту вашему дому на протяжении многих десятилетий, ведь при монтаже черепицы SAPPORO достигается коэффициент перехлеста в 2,8! Это значит, что в каждой точке вашей кровли будут находится как минимум два лепестка черепицы.</p></div>
<div class="tab-pane fade" id="pills-det" role="tabpanel" aria-labelledby="pills-det-tab">...</div>
<div class="tab-pane fade" id="pills-ser" role="tabpanel" aria-labelledby="pills-ser-tab">...</div>
</div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2 class="font-24 mb-50 mb-lg-70"><b>Смотрите также</b></h2>
          </div>
          <div class="col-12 pb-50 pb-lg-120">
            <div class="slider-view slider-default">
              <div class="px-3">
                <form class="product product-catalog" action="" method="">
                  <div class="preview-wrapper"><a class="preview" href="#"><img class="img-fluid d-block lazyload" data-src="images/product-catalog.jpg" alt="img" title="img"></a></div>
                  <div class="product-catalog__content">
                    <div class="w-100"><a class="title" href="#">Гибкая черепица Docke Женева ывпа вавыа пвыапвыап выапвыапывап выапвыапвыа пвап выап выап выпа</a></div><span class="price pb-2 mb-1"><span class="now">339 р./м2</span><span class="old">1 850 руб./м2</span></span>
                    <p class="description">Новая коллекция гибкой битумной черепицы Docke PIE, названная в честь важнейшего экономического, промышленного и культурного центра острава Хоккайдо, Япония - города Саппоро, является примером синергии высококачественного производства и многовековых традиций домостроения.</p>
                    <div>
                      <button class="submit btn btn_to-cart"><span class="icon-shopping-cart mr-2 btn__icon-to-cart"></span><span class="btn__text">в корзину</span></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="px-3">
                <form class="product product-catalog" action="" method="">
                  <div class="preview-wrapper"><a class="preview" href="#"><img class="img-fluid d-block lazyload" data-src="images/product-catalog.jpg" alt="img" title="img"></a></div>
                  <div class="product-catalog__content">
                    <div class="w-100"><a class="title" href="#">Гибкая черепица Docke Женева ывпа вавыа пвыапвыап выапвыапывап выапвыапвыа пвап выап выап выпа</a></div><span class="price pb-2 mb-1"><span class="now">339 р./м2</span><span class="old">1 850 руб./м2</span></span>
                    <p class="description">Новая коллекция гибкой битумной черепицы Docke PIE, названная в честь важнейшего экономического, промышленного и культурного центра острава Хоккайдо, Япония - города Саппоро, является примером синергии высококачественного производства и многовековых традиций домостроения.</p>
                    <div>
                      <button class="submit btn btn_to-cart"><span class="icon-shopping-cart mr-2 btn__icon-to-cart"></span><span class="btn__text">в корзину</span></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="px-3">
                <form class="product product-catalog" action="" method="">
                  <div class="preview-wrapper"><a class="preview" href="#"><img class="img-fluid d-block lazyload" data-src="images/product-catalog.jpg" alt="img" title="img"></a></div>
                  <div class="product-catalog__content">
                    <div class="w-100"><a class="title" href="#">Гибкая черепица Docke Женева ывпа вавыа пвыапвыап выапвыапывап выапвыапвыа пвап выап выап выпа</a></div><span class="price pb-2 mb-1"><span class="now">339 р./м2</span><span class="old">1 850 руб./м2</span></span>
                    <p class="description">Новая коллекция гибкой битумной черепицы Docke PIE, названная в честь важнейшего экономического, промышленного и культурного центра острава Хоккайдо, Япония - города Саппоро, является примером синергии высококачественного производства и многовековых традиций домостроения.</p>
                    <div>
                      <button class="submit btn btn_to-cart"><span class="icon-shopping-cart mr-2 btn__icon-to-cart"></span><span class="btn__text">в корзину</span></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="px-3">
                <form class="product product-catalog" action="" method="">
                  <div class="preview-wrapper"><a class="preview" href="#"><img class="img-fluid d-block lazyload" data-src="images/product-catalog.jpg" alt="img" title="img"></a></div>
                  <div class="product-catalog__content">
                    <div class="w-100"><a class="title" href="#">Гибкая черепица Docke Женева ывпа вавыа пвыапвыап выапвыапывап выапвыапвыа пвап выап выап выпа</a></div><span class="price pb-2 mb-1"><span class="now">339 р./м2</span><span class="old">1 850 руб./м2</span></span>
                    <p class="description">Новая коллекция гибкой битумной черепицы Docke PIE, названная в честь важнейшего экономического, промышленного и культурного центра острава Хоккайдо, Япония - города Саппоро, является примером синергии высококачественного производства и многовековых традиций домостроения.</p>
                    <div>
                      <button class="submit btn btn_to-cart"><span class="icon-shopping-cart mr-2 btn__icon-to-cart"></span><span class="btn__text">в корзину</span></button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="px-3">
                <form class="product product-catalog" action="" method="">
                  <div class="preview-wrapper"><a class="preview" href="#"><img class="img-fluid d-block lazyload" data-src="images/product-catalog.jpg" alt="img" title="img"></a></div>
                  <div class="product-catalog__content">
                    <div class="w-100"><a class="title" href="#">Гибкая черепица Docke Женева ывпа вавыа пвыапвыап выапвыапывап выапвыапвыа пвап выап выап выпа</a></div><span class="price pb-2 mb-1"><span class="now">339 р./м2</span><span class="old">1 850 руб./м2</span></span>
                    <p class="description">Новая коллекция гибкой битумной черепицы Docke PIE, названная в честь важнейшего экономического, промышленного и культурного центра острава Хоккайдо, Япония - города Саппоро, является примером синергии высококачественного производства и многовековых традиций домостроения.</p>
                    <div>
                      <button class="submit btn btn_to-cart"><span class="icon-shopping-cart mr-2 btn__icon-to-cart"></span><span class="btn__text">в корзину</span></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProductLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalProductLabel">Modal title</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center"><span class="icon-arrow-up"></span></div>
    </div>
    <footer class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-3 d-flex d-lg-block align-items-center flex-column pb-3 pb-lg-0"><a class="logo-block" href="#"><img class="lazyload" data-src="images/logo.png" alt="logo img" title="logo img"></a>
              <p class="font-18 pt-4 px-5 px-lg-0 text-center text-lg-left">ТД ИНСИ -  все для строительства и ремонта</p>
            </div>
            <div class="col-12 col-lg-3 d-flex d-lg-block flex-column align-items-center"><span class="font-18 d-block mb-20"><b>Следите за нами:</b></span>
              <div class="d-flex align-items-center"><a class="social-item color-666 mr-3" href="#"><span class="icon-vk"></span></a><a class="social-item color-666" href="#"><span class="icon-instagram"></span></a></div>
            </div>
            <div class="col-12 col-lg-3 d-none d-lg-block"><span class="font-18 d-block mb-20"><b>Меню</b></span>
              <div class="d-flex flex-column align-items-start"><a class="navigation__link" href="#">Главная</a><a class="navigation__link" href="#">Каталог</a><a class="navigation__link" href="#">О компании</a><a class="navigation__link" href="#">Контакты</a>
              </div>
            </div>
            <div class="col-12 col-lg-3 d-none d-lg-block"><span class="font-18 d-block mb-20"><b>Контакты</b></span>
              <div class="d-flex flex-column align-items-start">
                <p class="navigation__link">Челябинск,<br>ул. Строительная, д. 25А</p><a class="navigation__link" href="tel:88002002011">8 800 200 20 11</a><a class="navigation__link" href="mailto:info@gp.com.ru">info@gp.com.ru</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex d-lg-block justify-content-center"><a class="font-14" href="#">Политика конфиденциальности</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>
